body{
    background-color: rgb(12, 100, 141);
}

html{
    overflow-x: hidden;
}

h3{
    visibility: hidden;
}

section{
    width: 98%;
    height: 600px;
    margin-left: 1%;
    margin-right: 1%;
    /*192/108*/
}

div#d1{
    float: left;
    width: 50%;
    height: 400px;
    margin-left: 23%;
    position: absolute;
    /*visibility: hidden;*/
}
div#d2{
    float: left;
    width: 50%;
    height: 400px;
    margin-left: 100%;
    position: absolute;
    visibility: hidden;
}


img{
    width: 100%;
    height: 100%;
}

input[type='button']{
    margin-top: 450px;
    width: 20%;
    height: 50px;
    float: left;
    background-color: rgb(250, 252, 200);
    border-radius: 5px;
    margin-left: 10px;
    font-size: 100%;
    font-weight: bold;
}

#anterior{
    margin-left: 17%;
}

